body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    max-width: 50em;
    margin: 0 auto;
    /*margin-left: 2em;
    margin-right: 2em;*/
    background: #ffffe1;
}

section {
    clear: both;
}

p {
    text-align: justify;
}

pre {
    /*font-size: 2em;*/
}
